<mat-toolbar color="primary">
    <div class="col-4"  routerLinkActive="active">
        <a mat-flat-button routerLink="/estadisticas" class="btn-block">
            <mat-icon>insert_chart</mat-icon>
            Estadisticas
        </a>
    </div>
    <div class="col-4"  routerLinkActive="active">
        <a mat-flat-button routerLink="/principal" class="btn-block">
            <mat-icon>home</mat-icon>
            Pagina principal
        </a>
    </div>
    <div class="col-4">
        <button mat-flat-button class="btn-block" (click)="this.logout()">
            <mat-icon>exit_to_app</mat-icon>
            Salir
        </button>
    </div>
</mat-toolbar>



<section id="estanques">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Agregar nuevo estanque">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-9 mx-auto">
            <mat-card class="card-estanques">
              <mat-card-header class="justify-content-center"><h1 class="text-info">Añadir nuevo estanque</h1></mat-card-header>
              <mat-card-content>
                <form [formGroup]="formEstanque">
                  <mat-form-field class="example-full-width">
                    <mat-label style="font-size: large">Nombre del estanque</mat-label>
                    <input matInput placeholder="Introduzca el nombre" formControlName="name" required>
                  </mat-form-field>
                  <button mat-raised-button color="primary" class="btn-block" style="font-size: medium" (click)="agregarEstanque()">Agregar estanque</button>
                </form>
              </mat-card-content>
            </mat-card>
            <mat-card class="card-estanques">
              <mat-card-header class="justify-content-center"><h1 class="text-info">Añadir nuevo pez</h1></mat-card-header>
              <mat-card-content>
                <form [formGroup]="formPez">
                  <mat-form-field>
                    <mat-label style="font-size: medium">Estanques</mat-label>
                    <mat-select formControlName="estanque" required>
                      <mat-option>Seleccione una opción</mat-option>
                      <mat-option *ngFor="let estanque of estanques | async" [value]="estanque" style="font-size: medium">
                        {{estanque.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="row">
                    <div class="col-6">
                      <mat-form-field>
                        <mat-label style='font-size: medium'>Longitud del pez</mat-label>
                        <input matInput placeholder="Introduzca la longitud del pez en cm*" formControlName="longitud" min=0 type="number" style="font-size: medium" required>
                        <span matSuffix>m</span>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field>
                        <mat-label style='font-size: medium'>Peso del pez</mat-label>
                        <input matInput placeholder="Introduzca el peso del pez en kg*" formControlName="peso" min=0 type="number" style="font-size: medium" required>
                        <span matSuffix>Kg</span>
                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-raised-button class="btn-block" color="primary" type="submit" (click)="agregarPez()">Agregar pez</button>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>

<div *ngIf="preloader" class="preloader">
  <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</div>
