<mat-toolbar class="app-toolbar" >
  <span>Tilapp</span>
  <span class="example-spacer"></span>
  <!-- <button mat-stroked-button color="primary">Registrarse</button> -->
  <button mat-raised-button color="primary" (click)="openDialog()">Iniciar Sesión</button>
</mat-toolbar>

<section id="inicio">
  <div class="hero-cover">
    <div class="aux-alpha">
      <div class="aux-flex">
        <div class="container">
          <div class="row mt-5">
            <div class="col-md-9 mx-auto">
              <h1 class="text-white font-weight-bold text-center">El mejor lugar para administrar tus granjas de cultivo</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-9 mx-auto">
              <h2 class="text-white font-weight-bold text-center">Prueba Tilapp</h2>

            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6 mx-auto">
              <button (click)="scrollToElement('informacion')" class="btn-block btn-lg btn-warning text-center mx-auto">Conocer más...</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="preloader" class="preloader">
  <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</div>
